.box {
    /* width: 75px;
    height: 75px; */
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.hover {
    background-color: green;
}

body {
    margin: 0px;
}